### Homework 2

In [2]:
import pandas as pd

In [ ]:
df = pd.read_csv("tackoverflow_qa.csv")
df.head()
df

In [ ]:
# Find all questions that were created before 2014

filtered_df_before_2014 = df[df['creationdate'] < '2014-01-01']
filtered_df_before_2014

In [ ]:
# 2. Find all questions with a score more than 50

score = df[df['score'] > 50]
score

In [ ]:
# 3. Find all questions with a score between 50 and 100

score_50_100 = df[df['score'].between(50,100)]
score_50_100

In [ ]:
# 4. Find all questions answered by Scott Boston
answer_name = df[df['ans_name'] == 'Scott Boston']
answer_name

In [ ]:
# 5. Find all questions answered by the following 5 users
df.head()

In [ ]:
# 6. Find all questions that were created between March, 2014 and October 2014 that were answered by Unutbu and have score less than 5.

created_time = df[df['creationdate'].between('2014-03-01','2014-10-01')]
answered_name = df[df['ans_name'] == 'Unutbu']
score = df[df['score'] < 5]

# all_reply = (df[df['creationdate'].between('2014-03-01','2014-10-01')]) & (df[df['ans_name'] == 'Unutbu']) & (df[df['score'] < 5])
all_reply = df[
    (df['creationdate'].between('2014-03-01', '2014-10-01')) &
    (df['ans_name'] == 'Unutbu') &
    (df['score'] < 5)
]

all_reply

In [ ]:
# 7. Find all questions that have score between 5 and 10 or have a view count of greater than 10,000
score = df[df['score'].between(5, 10)]
view_count = df[df['viewcount'].gt(10000)]

find_all = df[
    (df['score'].between(5, 10)) |
    (df['viewcount'].gt(10000))
]
find_all

In [ ]:
# 8. Find all questions that are not answered by Scott Boston

not_replied = df[df['ans_name'] != 'Scott Boston']
not_replied

### Homework 3
#### Titanic data set, stored as CSV. The data consists of the following data columns:
PassengerId: Id of every passenger.
Survived: Indication whether passenger survived. 0 for yes and 1 for no.
Pclass: One out of the 3 ticket classes: Class 1, Class 2 and Class 3.
Name: Name of passenger.
Sex: Gender of passenger.
Age: Age of passenger in years.
SibSp: Number of siblings or spouses aboard.
Parch: Number of parents or children aboard.
Ticket: Ticket number of passenger.
Fare: Indicating the fare.
Cabin: Cabin number of passenger.
Embarked: Port of embarkation.

In [ ]:
import pandas as pd 

titanic_df = pd.read_csv('titanic.csv')
titanic_df.head()
titanic_df

In [ ]:
# 1. Select Female Passengers in Class 1 with Ages between 20 and 30: Extract a DataFrame containing female passengers in Class 1 with ages between 20 and 30.

age = titanic_df['Age'].between(20,30)
class_1 = titanic_df['Pclass'] == 1
sex = titanic_df['Sex'] == 'female'

result = titanic_df[
    age & 
    class_1 & 
    sex]

result

In [ ]:
# 2. Filter Passengers Who Paid More than $100: Create a DataFrame with passengers who paid a fare greater than $100.

Fare_ticket = titanic_df[titanic_df['Fare'].gt(100)]
Fare_ticket

In [ ]:
# 3. Select Passengers Who Survived and Were Alone: Filter passengers who survived and were traveling alone (no siblings, spouses, parents, or children).

survived = titanic_df['Survived'] == 1 
traveling_alone = (titanic_df['SibSp'] == 0) & (titanic_df['Parch'] == 0)

surv_tra_alone = titanic_df[survived & traveling_alone]
surv_tra_alone

In [ ]:
# 4. Filter Passengers Embarked from 'C' and Paid More Than $50: Create a DataFrame with passengers who embarked from 'C' and paid more than $50.

Embarked = titanic_df['Embarked'] == 'C'
Paid_Fare = titanic_df['Fare'].gt(50)

result_filtered = titanic_df[
     Embarked &
     Paid_Fare
]
result_filtered

In [ ]:
# 5. Select Passengers with Siblings or Spouses and Parents or Children: Extract passengers who had both siblings or spouses aboard and parents or children aboard.

Siblings_Spouse = titanic_df['SibSp'] == 1 
Parents_Children = titanic_df['Parch'] == 1

Both_of_them = titanic_df[
    Siblings_Spouse & 
    Parents_Children
]
Both_of_them

In [ ]:
# 6. Filter Passengers Aged 15 or Younger Who Didn't Survive: 
# Create a DataFrame with passengers aged 15 or younger who did not survive.

age_of_children = titanic_df['Age'].le(15)
not_survived = titanic_df['Survived'] == 0

result = titanic_df [
    age_of_children & 
    not_survived
]
result

In [ ]:
# 7. Select Passengers with Cabins and Fare Greater Than $200: 
# Extract passengers with known cabin numbers and a fare greater than $200.

titanic_df

cabins = titanic_df['Cabin'].notna()
Fare = titanic_df['Fare'].gt(200)

final_result = titanic_df[
    cabins & 
    Fare
]
final_result

In [ ]:
# 8. Filter Passengers with Odd-Numbered Passenger IDs: 
# Create a DataFrame with passengers whose PassengerId is an odd number.

odd_passengers = titanic_df[titanic_df['PassengerId'] % 2 != 0]

odd_passengers

In [ ]:
# 9. Select Passengers with Unique Ticket Numbers: Extract a DataFrame with passengers having unique ticket numbers.


unique_ticket = titanic_df['Ticket'].nunique()

print(unique_ticket)

In [ ]:
# 10. Filter Passengers with 'Miss' in Their Name and Were in Class 1: 
# Create a DataFrame with female passengers having 'Miss' in their name and were in Class 1.

female = titanic_df['Sex'] == 'female'

name = titanic_df['Name'].str.contains('Miss')

Class_number = titanic_df['Pclass'] == 1
titanic_df

result = titanic_df[
    female & name &
    Class_number
]
result