
## 1. Sort a Dictionary by Value
### Write a Python script to sort (ascending and descending) a dictionary by value.

In [6]:
my_dict = {"lamborgini": 25, "bugatti": 40, "matiz": 5, "Nexia": 10,}
my_dict

asc_sorted = dict(sorted(my_dict.items(), key = lambda item: item[1]))
print("Ascending order by value:")
print(asc_sorted)

desc_sorted = dict(sorted(my_dict.items(), key = lambda item: item[1], reverse=True))
print("Descending order by value:")
print(desc_sorted)

Ascending order by value:
{'matiz': 5, 'Nexia': 10, 'lamborgini': 25, 'bugatti': 40}
Descending order by value:
{'bugatti': 40, 'lamborgini': 25, 'Nexia': 10, 'matiz': 5}

## 2. Add a Key to a Dictionary
### Write a Python script to add a key to a dictionary.

Sample Dictionary:

 {0: 10, 1: 20}

In [13]:
my_number_dict = {0:10,1:20}
my_number_dict
my_number_dict.update({2:30})
print(my_number_dict)

{0: 10, 1: 20, 2: 30}

## 3. Concatenate Multiple Dictionaries
### Write a Python script to concatenate the following dictionaries to create a new one.

In [7]:
dict1 = {1:10, 2:20}
dict2 = {3:30, 4:40}
dict3 = {5:50, 6:60}

merged = dict1 | dict2 | dict3

print(merged)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

### or

In [9]:
dict1 = {1:10, 2:20}
dict2 = {3:30, 4:40}
dict3 = {5:50, 6:60}

merged = {**dict1,**dict2,**dict3}

print(merged)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

## 4. Generate a Dictionary with Squares
### Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).

In [16]:
n = int(input("Enter a number:"))
square_dict_number = {x:x*x for x in range(1, n+1)}

print("Generated dictionary:", square_dict_number)

Generated dictionary: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

## 5. Dictionary of Squares (1 to 15)
### Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.
##### Expected output {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [22]:
square_dict = {}

for a in range(1,16): square_dict[a] = a * a 

print("Dictionaries with square from 1 to 15:", square_dict)

Dictionaries with square from 1 to 15: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

## Set Exercises
## 1. Create a Set
### Write a Python program to create a set.

In [34]:
my_set = {"John", "Michael", "Dana", "Charles", "Anna","Emma"}
my_set

{'Anna', 'Charles', 'Dana', 'Emma', 'John', 'Michael'}

### or

In [33]:
my_list = ["John", "Michael", "Dana", "Charles", "Anna","Emma"]
my_set = set(my_list)
my_set
print(my_set)

{'John', 'Dana', 'Michael', 'Anna', 'Emma', 'Charles'}

## 2. Iterate Over a Set
### Write a Python program to iterate over sets.

In [37]:
my_set

for name in my_set:
    print(name)

John
Anna
Emma
Dana
Charles
Michael

## 3. Add Member(s) to a Set
### Write a Python program to add member(s) to a set.

In [ ]:
my_set.add('Paris')
my_set

{'Anna', 'Charles', 'Dana', 'Emma', 'John', 'Michael', 'Paris'}

## 4. Remove Item(s) from a Set
### Write a Python program to remove item(s) from a given set.

In [54]:
my_set = {'Anna', 'Charles', 'Dana', 'Michael', 'Paris', 'Sanjar', 'Sardor'}
my_set.remove('Anna')
print(my_set)

{'Paris', 'Dana', 'Charles', 'Sanjar', 'Sardor', 'Michael'}

### or

In [60]:
# Initial set
my_set = {"apple", "banana", "cherry", "mango"}

print("Original set:", my_set)

# Ask user which item to remove
item_to_remove = input("Enter the item you want to remove: ")

# Option 1: Using discard (safe way)
my_set.discard(item_to_remove)

# Option 2: You could also use remove(), but it raises an error if the item doesn't exist:
# my_set.remove(item_to_remove)

print("Updated set:", my_set)

Original set: {'banana', 'cherry', 'mango', 'apple'}
Updated set: {'banana', 'mango', 'apple'}

## 5. Remove an Item if Present in the Set
### Write a Python program to remove an item from a set if it is present in the set.

In [61]:

my_set = {1, 2, 3, 4, 5}

item = 2

if item in my_set:
    my_set.remove(item)
    print(f"Item {item} removed.")
else:
    print(f"Item {item} not found in the set.")

print("Updated set:", my_set)

Item 2 removed.
Updated set: {1, 3, 4, 5}