## 1. Create and Access List Elements
### Create a list containing five different fruits and print the third fruit.

In [5]:
fruit_list = ['Apple','Banana', 'Cherry', 'Mango', 'Grapes']
fruit_list

print('The third fruit is:',fruit_list[2])

The third fruit is: Cherry

## 2. Concatenate Two Lists
### Create two lists of numbers and concatenate them into a single list.

In [8]:
number_list_1 = [1,2,3,4,5,6]
number_list_2 = [7,8,9,10]

combined_list = number_list_1 + number_list_2

print('Combined List:', combined_list)

Combined List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## 3. Extract Elements from a List
### Given a list of numbers, extract the first, middle, and last elements and store them in a new list.

In [6]:
numbers = [15, 20, 30, 75, 95]

first = numbers[0]
middle_index = len(numbers) // 2 
middle = numbers[middle_index]
last = numbers[-1]
new_list = [first, middle, last]

print("first, middle, last elements:", new_list)

first, middle, last elements: [15, 30, 95]

## 4. Convert list to tuple 
### Create a list of your five favorite movies and convert it into a tuple.

In [8]:
my_list = [1, 2, 4, 6, 8]
my_tuple = tuple(my_list)

print("My tuple:", my_tuple)

My tuple: (1, 2, 4, 6, 8)

## 5. Check Element in a List
### Given a list of cities, check if "Paris" is in the list and print the result.

In [13]:
city = ["Moscow", "Tashken", "Madrid", "Paris", "Munich"]

if 'Paris' in city:
    print("Yes, 'Paris' is in the list.")
else:
    print("No, 'Paris' is in not the list.")

Yes, 'Paris' is in the list.

## 6. Duplicate a List Without Using Loops
### Create a list of numbers and duplicate it without using loops.

In [ ]:
my_list = [12, 43, 56, 676, 321, 5678, 1]
duplicate = my_list.copy()

print(duplicate)

[12, 43, 56, 676, 321, 5678, 1]

## 7. Swap First and Last Elements of a List
### Given a list of numbers, swap the first and last elements.

In [32]:
my_numbers1 = [6, 5, 8 ,9 ,23, 19]
my_numbers2 =[10, 15, 12, 65]
my_numbers1, my_numbers2 = my_numbers2, my_numbers1

print("numbers1:", my_numbers1 )
print("numbers2:", my_numbers2 )

numbers1: [10, 15, 12, 65]
numbers2: [6, 5, 8, 9, 23, 19]

## 8. Slice a Tuple
### Create a tuple of numbers from 1 to 10 and print a slice from index 3 to 7.

In [ ]:
# index      0  1  2  3  4  5  6  7  8  9
my_tuple1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
my_tuple1
sliced = my_tuple1[3:7] #slicing from index 3 to 7 means, that it is slcing from 4, 5, 6, 7 (excluded last index 7)
print(sliced)

(4, 5, 6, 7)

## 9. Count Occurrences in a List
### Create a list of colors and count how many times "blue" appears in the list.

In [53]:
list_colors = ['yellow', 'blue','red', 'green','blue','purple', 'blue', 'red']
list_colors

color_count = list_colors.count('blue')
color_count

print (color_count)

3

## 10. Find the Index of an Element in a Tuple
### Given a tuple of animals, find the index of "lion".

In [63]:
tuple_animals = ("wolf","bear","lion", 'elephant','fox', 'tiger')
tuple_animals

index_of_lion = tuple_animals.index("lion")

print("Index of 'lion':", index_of_lion)

Index of 'lion': 2

## 11. Merge Two Tuples
### Create two tuples of numbers and merge them into a single tuple.

In [66]:
tuple1 = (2,3,5,7,11)
tuple2 = (4,6,8,9,10,12)
merged_tuples_numbers = tuple1 + tuple2 

print(merged_tuples_numbers)

(2, 3, 5, 7, 11, 4, 6, 8, 9, 10, 12)

## 12. Find the Length of a List and Tuple
### Given a list and a tuple, find and print their lengths.

In [75]:
my_list_name = ["Sanjar", "Sardor", "Shoxrux", "Sarvar"]
my_tuple_name = ("Sanjar", "Sardor", "Shoxrux")
lenght_list = len(my_list_name)
lenght_tuple = len(my_tuple_name)

print("Lenght of the list is ", lenght_list)
print("Lenght of the tuple is ", lenght_tuple)

Lenght of the list is  4
Lenght of the tuple is  3

## 13. Convert Tuple to List
### Create a tuple of five numbers and convert it into a list.

In [80]:
tuple_numbers = (34, 27, 5, 3, 26)
tuple_numbers
list_numbers = list(tuple_numbers)

print(list_numbers)
print(type(list_numbers))

[34, 27, 5, 3, 26]
<class 'list'>

## 14. Find Maximum and Minimum in a Tuple
### Given a tuple of numbers, find and print the maximum and minimum values.

In [88]:
tuple_numbers1 = (57,53,33,73,81)
max_tuple_number = max(tuple_numbers1)
min_tuple_number = min(tuple_numbers1)

print("Max number:", max_tuple_number)
print("Min number:", min_tuple_number)

Max number: 81
Min number: 33

## 15. Reverse a Tuple
### Create a tuple of words and print it in reverse order.

In [98]:
tuple_words = ("Robiya", "Mariyam", "Anora","Sanjar")
reversed_tuple_words = tuple_words[::-1]
print("Reversed tuple:", reversed_tuple_words)

Reversed tuple: ('Sanjar', 'Anora', 'Mariyam', 'Robiya')

### or

In [ ]:
tuple_words = ("Robiya", "Mariyam", "Anora","Sanjar")
reversed_tuple_words = tuple(reversed(tuple_words))
print("Reversed tuple:", reversed_tuple_words)

Reversed tuple: ('Sanjar', 'Anora', 'Mariyam', 'Robiya')