### 1. Modify String with Underscores
Given a string txt, insert an underscore (_) after every third character. If a character is a vowel or already has an underscore after it, shift the underscore placement to the next character. No underscore should be added at the end.

Examples
Input: hello Output: hel_lo

Input: assalom Output: ass_alom

Input: abcabcabcdeabcdefabcdefg Output: abc_abc_abcd_abcd_abcdef

In [3]:
def insert_underscores(txt):
    vowels = 'aeiouAEIOU'
    result = []
    i = 0
    count = 0  # Number of non-underscore characters since last underscore
    
    while i < len(txt):
        result.append(txt[i])
        count += 1
        
        # Check if we hit the third character
        if count == 3:
            # Decide where to insert underscore
            insert_at = len(result)
            
            # Shift if it's a vowel or already followed by _
            shift_i = i + 1
            while (shift_i < len(txt) and 
                   (txt[shift_i] in vowels or 
                    (shift_i + 1 < len(txt) and txt[shift_i + 1] == '_'))):
                result.append(txt[shift_i])
                i += 1
                shift_i += 1
            
            # Only insert if it's not at the end
            if i + 1 < len(txt):
                result.append('_')
                count = 0
            else:
                break
        i += 1

    return ''.join(result)

print(insert_underscores("hello"))
print(insert_underscores("assalom"))
print(insert_underscores("abcabcabcdeabcdefabcdefg"))

hel_lo
assa_lom
abca_bca_bcdea_bcde_fab_cde_fg

## 2. Integer Squares Exercise
Task
The provided code stub reads an integer, n, from STDIN. For all non-negative integers i where 0 <= i < n, print i^2.

Example Input
5
Example Output
0
1
4
9
16
Input Format
The first and only line contains the integer, n.

Constraints
1 <= n <= 20
Output Format
Print n lines, one corresponding to each i^2 where 0 <= i < n.

In [7]:
squares = [i ** 2  for i in range(5)]

for item in squares:
    print(item)

0
1
4
9
16

## 3. Loop-Based Exercises
### Exercise 1: Print first 10 natural numbers using a while loop

In [11]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

### Exercise 2: Print the following pattern

In [15]:
i = 1
while i <= 5:
    j = 1
    while j <= i:
        print(j, end=' ')
        j += 1
    print()  
    i += 1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

#### or

In [16]:
i = 1
while i <= 5:
    line = ""
    j = 1
    while j <= i:
        line += str(j) + " "
        j += 1
    print(line.strip())  
    i += 1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### Exercise 3: Calculate sum of all numbers from 1 to a given number

Example:

Enter number 10
Sum is: 55

In [25]:
my_numbers = [1,2,3,4,5,6,7,8,9,10]
type(my_numbers)
print(my_numbers)
total = sum(my_numbers)
print(total)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
55

#### or

In [28]:
my_numbers = [1,2,3,4,5,6,7,8,9,10]
i = 0 
total = 0 
while i < len(my_numbers):
    total += my_numbers[i]
    i += 1 
    print(total)

1
3
6
10
15
21
28
36
45
55

### Exercise 4: Print multiplication table of a given number

In [2]:
num = int(input("Enter a number: "))  
i = 1
while i <= 10:
    print(num * i)
    i += 1

2
4
6
8
10
12
14
16
18
20

### Exercise 5: Display numbers from a list using a loop

Given:

numbers = [12, 75, 150, 180, 145, 525, 50]

Expected Output:

75
150
145

In [43]:
numbers = [12, 75, 150, 180, 145, 525, 50]

for num in numbers:
    if num > 500:
        break
    if num > 150:
        continue
    if num < 75:
        continue
    print(num)

75
150
145

### Exercise 6: Count the total number of digits in a number

Example:

75869
Output: 5

In [58]:
digit = 75869
count = 0
while digit > 0:
    digit = digit // 10  
    count += 1

print(count)

5

### Exercise 7: Print reverse number pattern
##### 5 4 3 2 1
##### 4 3 2 1
##### 3 2 1
##### 2 1
##### 1

In [67]:
i = 5
while i >= 1:
    j = i
    while j >= 1:
        print(j, end=' ')
        j -= 1
    print()
    i -= 1

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

### Exercise 8: Print list in reverse order using a loop
#### Given:

##### list1 = [10, 20, 30, 40, 50]
##### Expected Output:

##### 50
##### 40
##### 30
##### 20
##### 10

In [73]:
list1 = [10, 20, 30, 40, 50]

i = len(list1) - 1 
while i >= 0:
    print(list1[i])
    i -= 1

50
40
30
20
10

### Exercise 9: Display numbers from -10 to -1 using a for loop

In [8]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

### Exercise 10: Display message “Done” after successful loop execution

In [24]:

for i in range(0,5):
    print(i)
print("Done!")

0
1
2
3
4
Done!

### Exercise 11: Print all prime numbers within a range

In [37]:
for num in range(25,50):
    if num > 25:
        is_prime = True
        for i in range (2,int(num**0.5)+1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            print(num)

29
31
37
41
43
47

### Exercise 12: Display Fibonacci series up to 10 terms
Example:

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

##### F(0) = 0
##### F(1) = 1
#####  F(n) = F(n-1) + F(n-2)   for n > 1

In [38]:
n = 10  

a, b = 0, 1
print("Fibonacci series:")

for _ in range(n):
    print(a)
    a, b = b, a + b

Fibonacci series:
0
1
1
2
3
5
8
13
21
34

### Exercise 13: Find the factorial of a given number
Example:

5! = 120

In [41]:
num = 5 
factorial = 1

if num < 0:
    print("Factorial does not exist for negative numbers.")
elif num == 0:
    print("The factorial of 0 is 1.")
else:
    for i in range(1, num + 1):
        factorial *= i
    #print(f"The factorial of {num} is {factorial}.")
    print("5!=",factorial)

5!= 120

## 4. Return Uncommon Elements of Lists

In [1]:
def uncommon_elements(list1, list2):
    result = []

    # Count occurrences in both lists
    for item in list1:
        if item not in list2:
            result.append(item)

    for item in list2:
        if item not in list1:
            result.append(item)

    return result

list1 = [1, 1, 2]
list2 = [2, 3, 4]

output = uncommon_elements(list1, list2)
print(output)

[1, 1, 3, 4]